*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul , ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.cards_father{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}